/* ----------------------------------------
Base Styles
------------------------------------------- */
* {
  box-sizing: border-box;
  justify-content: center;

}

html {
  font-size: 15px;
  scroll-behavior: smooth;
  /*background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);*/
}

body {
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: .02em;
  text-align: center;
  color: #44545E;
}
h2{
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
}

/* ----------------------------------------
Navigation
------------------------------------------- */

.nav-container {
  display: flex;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  border: 2px red solid;
  overflow: hidden;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  border: 3px purple solid;
  z-index: 1;
}


.welcome{
  display: flex;
  border: 2px purple solid;
  float: left;
}

.left-welcome{

}
nav li {
  display: inline-block;
}

ul a {
  text-transform: none;
}

ul {
  padding: 0;
  list-style: none;
}

li {
  display: block;
  text-align: left;
}

nav a {
  font-weight: 600;
  letter-spacing: 0.75px;
  letter-spacing: .05rem;
  margin: 15px 25px;
  display: inline-block;
  border-bottom: none;
  text-transform: uppercase;
  text-decoration: none;
  color: goldenrod;
}

.navbar-nav {
  margin-top: 14px;
}

img{
  max-width: 100%;
  height: 400px;
  width:  400px;
}

.hamburger{
  color: grey;
  font-size: 26px;
  /*margin-bottom: 60%;*/
  /*margin-right: 10%;*/
  display: inline-block;
  align-self: flex-start;
  top: 10px;
  left: 30px;
  position: fixed;
  mix-blend-mode: difference;
}

.navbar {
    position: fixed;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid green;
}

.navbar-collapse{
  float: right;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block !important;
}


.navbar-toggler{
  display: none;
  position: fixed;
  right: 20px;
  top: 20px;
}

/* ----------------------------------------
About Me
------------------------------------------- */

.project-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  display: -webkit-box;
display: -ms-flexbox;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
-ms-flex-wrap:  wrap;
margin: 0 auto;
}
.col-third{
  width: 50%;

}

.about-wrapper{
   display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 2px blue solid;
  margin-bottom: 300px;
}


.col-half p {
  max-width:800px;
  justify-content: center;
}


#about{
  /*background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);*/
  height: 550px;
  margin: 0 auto;
  position: relative;
  top: 100px;
}
.carousel-inner{
  background: lightgrey;
}

.moving-image{
  margin: 0 auto;
   width: 800px;
   height: 300px;
}

/* ----------------------------------------
Testimonals
------------------------------------------- */
#Testimonials{
  border: 3px green solid;
  margin-top: 30px;
  height: 300px;

}
.Testimonials{
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.quotes{
  display: none;
}

/* ----------------------------------------
Carousel
------------------------------------------- */


#carouselExampleIndicators{
  margin-top: 100px;
  margin-bottom: 100px;
}

/* ----------------------------------------
Form
------------------------------------------- */

.form-wrap-columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form-wrap-row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.col-3 {
  margin-right: 10px;
}
.col-3:last-of-type {
  margin-right: 0;
}


/*textarea {
  max-width: 100%;
  display: block;
}
*/
input, textarea, button {
  border: 2px solid #44545E;
  margin-bottom: 12px;
  margin-bottom: .8rem;
  padding: 20px 20px;
  outline: 0;
  flex: 1;
}

#contact{
  margin-right: 50px;
  margin-left: 50px;
}

.contact-header {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* ----------------------------------------
Footer
------------------------------------------- */

footer{
  background-color: lightblue;
}

.footer-wrap{
  margin-top: 50px;
  padding-top:20px;
  padding-bottom: 30px;
}

.copyright {
  border-top: 2px solid #44545E;
  padding: 15px 0 3px;
  padding-bottom: 20px;
}



/* ----------------------------------------
          Media Queries
------------------------------------------- */

@media screen and (max-width: 768px) {

  .navbar-toggler {
    display: inline-block;
  }

  .project-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .col-third{
    width: 100%;
  }

  .form-wrap-columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .about-wrapper{
     display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
  }

  form input {
    width: 100%;
  }

  .col-half p {
    width:100%;
  }

  .col-half img {
    width:200px;
    height: 200px;
  }

  span li {
    display: none;
  }

}





/* ----------------------------------------
Navigation
------------------------------------------- */
 /** {
  justify-content: center;
  box-sizing: border-box;
 }
 body, html{
    width:100%;
    height: 100%;
}
nav {
  position: fixed;
  width: 100%;

}

*/


/*.nav-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;*/
  /*border: 2px red solid;*/
/*  background-color: goldenrod;
}*/
/* display: inline block makes the li's display horizontally*/
/*nav li {
  display: inline-block;
}*/

/*nav a {
  font-weight: 600;
  letter-spacing: 0.75px;
  letter-spacing: .05rem;
  margin: 15px 25px;
  display: inline-block;
  border-bottom: none;
  text-transform: uppercase;
  text-decoration:none;
  color: white;
}*/

/* ----------------------------------------
Introduction of Me
------------------------------------------- */
/*  img {
  width:250px;
  height: 200px;
  margin-left: 20px;
}
*/
/*.intro-container{
  display: flex;
  flex-wrap: wrap;*/
  /*border: 4px green solid;*/
  /*height: 500px;
  background:linear-gradient(to right, #E4E5E6, #00416A);
  margin: 0 auto;*/
 /* justify-content: center;*/
/*}*/
/*.intro{
  width: 30%;
  max-width: 800px;
  margin-top: 20px;
}*/
/*.image-Holder{
  margin-top: 10px;
}*/

/*.about-container {
  display: flex;
}*/
/*.about-info{
  width: 30%;
}*/

  /*.about-image > img {
    height: 500px;
    width: 400px;
    margin-top: 40px;
  }*/

   /*.about-info > h2:after {
    background: rgba(144, 144, 144, 0.5);
    content: '';
    display: block;
    height: 1px;
    margin-top: 1em;
    width: 5em;
}*/
